<h1 class="text-4xl mb-12">Profile: <%= user_name(current_user) %></h1>

<h2 class="text-2xl mb-8">Books you are sharing</h2>
<div class="overflow-x-auto w-full">
  <table class="table w-full">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author/s & Category</th>
      <th>Borrowed (times)</th>
      <th>Borrowed by</th>
      <th>Info/Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @books_owned.each do |book| %>
      <tr>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <% if book.book_cover.attached? %>
                  <%= link_to book_path(book.id) do %>
                    <%= image_tag book.book_cover.variant(:thumb) %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div>
              <p class="font-bold truncate"><%= link_to "#{book.title}", book_path(book.id) %></p>
              <div class="text-sm opacity-50"><%= book.publish_year %></div>
            </div>
          </div>
        </td>
        <td>
          <%= author_list(book.authors)%>
          <br>
          <span class="badge badge-ghost badge-sm"><%=book.category.topic %></span>
        </td>
        <% if(Loan.borrowed_count(book.id)) > 0 %>
          <td class="text-center"><%=Loan.borrowed_count(book.id) %></td>
          <td><%= Loan.borrowed_users(book.id).to_sentence %></td>
        <% else %>
          <td class="text-center">N/A</td>
          <td class="text-center">N/A</td>
        <% end %>
        <td>
          <% if Loan.find_by(book_id: book.id, status: 'on loan') %>
            Book is current on loan to: <%= user_name(User.find(Loan.find_by(book_id: book.id, status: 'on loan').user_id)) %>
          <% else %>
            <%= button_to 'Remove Book', book_path(id: book.id), method: 'delete', form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<hr class="mt-4">

<h2 class="text-2xl my-8">Books you are currently borrowing</h2>
<div class="overflow-x-auto w-full">
  <table class="table w-full">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author/s & Category</th>
      <th>Return By</th>
      <th>Info/Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @current_borrowed_books.each do |loan| %>
      <tr>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <% if loan.book.book_cover.attached? %>
                  <%= link_to book_path(loan.book_id) do %>
                    <%= image_tag loan.book.book_cover.variant(:thumb) %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div>
              <p class="font-bold truncate"><%= link_to "#{loan.book.title}", book_path(loan.book_id) %></p>
              <div class="text-sm opacity-50"><%= loan.book.publish_year %></div>
            </div>
          </div>
        </td>
        <td>
          <%= author_list(loan.book.authors)%>
          <br>
          <span class="badge badge-ghost badge-sm"><%=loan.book.category.topic %></span>
        </td>
        <td><%= loan.return_by.strftime("%a, %d %b %Y") %></td>
        <td><%= button_to "Return book", book_loan_path(book_id: loan.book_id, id:loan.id, params:{ loan: { status: 'returned', returned_on: Time.now.utc }}), method: 'put', action: 'update', class: "btn btn-primary", data: { turbo: false } %></td>
        <td class="font-bold text-red-400 italic">
          <%= loan.status == 'overdue' ? 'This book is overdue, please return it now' : "" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<hr class="mt-4">

<h2 class="text-2xl my-8">Borrowed books history</h2>
<div class="overflow-x-auto w-full">
  <table class="table w-full">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author/s & Category</th>
      <th>Book Owner</th>
    </tr>
    </thead>
    <tbody>
    <% @borrowed_books_history.each do |loan| %>
      <tr>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <% if loan.book.book_cover.attached? %>
                  <%= link_to book_path(loan.book_id) do %>
                    <%= image_tag loan.book.book_cover.variant(:thumb) %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div>
              <p class="font-bold truncate"><%= link_to "#{loan.book.title}", book_path(loan.book_id) %></p>
              <div class="text-sm opacity-50"><%= loan.book.publish_year %></div>
            </div>
          </div>
        </td>
        <td>
          <%= author_list(loan.book.authors)%>
          <br>
          <span class="badge badge-ghost badge-sm"><%=loan.book.category.topic %></span>
        </td>
        <td><%= user_name(loan.book.user)%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<hr class="my-4">
<%= button_to 'Update Account',  edit_user_registration_path, data: { turbo: false }, method: 'get', class: "btn btn-secondary" %>
<br>
