<h1 class="text-2xl mb-12">Profile: <%= owner_name(current_user) %></h1>

<h2 class="mb-8">Books you are sharing</h2>
<table class="mb-12">
  <thead>
    <th>Cover</th>
    <th>Title</th>
    <th>Borrowed (times)</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @books_owned.each do |book| %>
    <tr>
      <td class="pb-4">
        <% if book.book_cover.attached? %>
          <%= link_to book_path(book.id) do %>
            <%= image_tag book.book_cover.variant(:thumb) %>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to "#{book.title}", book_path(book.id) %></td>
      <td><%= Loan.borrowed_count(book.id) %></td>
      <td>
        <% unless Loan.find_by(book_id: book.id, status: 'on loan') %>
          <%= button_to 'Remove Book', book_path(id: book.id), method: 'delete', form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-primary" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<hr>

<h2 class="mb-8">Books you are currently borrowing</h2>

  <table class="mb-12">
    <thead>
      <th>Cover</th>
      <th>Title</th>
      <th>Return by</th>
      <th>Action</th>
      <th>Notes</th>
    </thead>
    <tbody>
      <% @current_borrowed_books.each do |loan| %>
        <tr>
          <td>
            <% if loan.book.book_cover.attached? %>
              <%= link_to book_path(loan.book_id) do %>
                <%= image_tag loan.book.book_cover.variant(:thumb) %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to "#{loan.book.title}", book_path(loan.book_id) %></td>
          <td><%= loan.return_by.strftime("%a, %d %b %Y") %></td>
          <td><%= button_to "Return book", book_loan_path(book_id: loan.book_id, id:loan.id, params:{ loan: { status: 'returned', returned_on: Time.now.utc }}), method: 'put', action: 'update', class: "btn btn-primary", data: { turbo: false } %></td>
          <td class="font-bold text-red-400 italic">
            <%= loan.status == 'overdue' ? 'This book is overdue, please return it now' : "" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


<hr>
<h2 class="mb-12">Borrowed books history</h2>
  <table class="mb-12">
    <thead>
      <th>Cover</th>
      <th>Title</th>
    </thead>
    <tbody>
    <% @borrowed_books_history.each do |loan| %>
    <tr>
      <td>
        <% if loan.book.book_cover.attached? %>
          <%= link_to book_path(loan.book_id) do %>
            <%= image_tag loan.book.book_cover.variant(:thumb) %>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to "#{loan.book.title}", book_path(loan.book_id) %></td>
    </tr>
      <% end %>
    </tbody>
  </table>
<hr>
<%= button_to 'Update Account',  edit_user_registration_path, data: { turbo: false }, method: 'get', class: "btn btn-secondary" %>
<br>
