<h2 class="text-2xl mb-6">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-4">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field mb-4">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field mb-4">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field mb-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mb-4">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field mb-4">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field mb-4">
    <%= f.label :current_password, class: "text-red-600" %> <i class="text-red-600">(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "border-red-600 border-4" %>
  </div>

  <div class="actions my-3">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<hr class="my-4">
<h3 class="text-2xl text-red-600 my-6">Cancel my account</h3>
<p class="text-red-700 mb-4">Please make sure that you have removed any books that you own and return any books that you borrowed BEFORE you cancel your account</p>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-error mb-4" %>

<%= link_to "Back", :back %>
<div class="mb-12"></div>