<h1>Home Page</h1>

<!--featured books-->


<table>
  <thead>
    <th>Image</th>
    <th>Title</th>
    <th>Category</th>
    <th>Book Owner</th>
    <th>Available to loan?</th>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td>
        <% if book.book_cover.attached? %>
         <%= image_tag book.book_cover.variant(:thumb) %>
        <% end %>
      </td>
      <td><%= book.title %></td>
      <td><%=book.category.topic %></td>
      <td><%= book.user.first_name%> <%= book.user.last_name%></td>
    </tr>
  <% end %>
  </tbody>
</table>
