<div class="grid grid-cols-4 gap-2">
  <h1 class="col-span-full text-4xl mb-12"><%= @book.title %></h1>
  <div class="row-span-3 justify-self-center">
    <% if @book.book_cover.attached? %>
      <%= image_tag @book.book_cover.variant(resize_to_limit: [500,500]) %>
    <% end %>
  </div>
  <div class="row-span-1 col-span-3">
    <p class="text-2xl"><%= @book.description %></p>
  </div>
  <div class="col-start-2 col-span-1">
    <p class="text-lg">Published: <%= @book.publish_year %></p>
  </div>
  <div class="col-start-3 col-span-2">
    <p class="text-lg">Category: <%= @book.category.topic %></p>
  </div>
  <div class="col-start-2 col-span-1">
    <p class="text-lg">Book owner: <%= user_name(@book.user) %></p>
  </div>
  <div class="col-start-3 col-span-2">
    <p class="text-lg">Authors: <%= author_list(@book.authors) %></p>
  </div>

  <% if current_user.present? && @book.user_id != current_user.id %>
    <% if @is_available  %>
      <div class="btn btn-primary"><%= button_to 'Borrow book', book_loans_path(params[:id], params: {loan: { book_id: params[:id], user_id: current_user.id, loan_date: Time.now.utc, return_by: 6.weeks.from_now, status: 'on loan'}}), method: 'post', data: { turbo: false } %></div>
    <% end %>
  <% elsif current_user.present? && @book.user_id == current_user.id %>
    <div>You own this book</div>
  <% else %>
    <div><%= @is_available ? 'Book is AVAILABLE' : 'Book is currently unavailable'%></div>
  <% end %>
  <div class="col-span-full mb-12"></div>
</div>
